<a href="[% request.uri_base %]/update/"> ---update--- </a>
[% FOR cols IN rows %]
    [% FOR item IN cols %]
        [% IF item.last %]<a href="[% item.last | html %]"> 갱신전 최신 [% END %]
	[% IF item.last %] 갱신 최신</a> [% END %]
        [% IF item.first %]<a href="[% item.first | html %]"> 갱신전 첫화보기 [% END %]
        [% IF item.first %]갱신 첫화보기</a> [% END %]
	<a href="[% request.uri_base _ '/update/' _ item.id %]">개별 Update</a>
    [% END %]
[% END %]
